<div class="principal">
  <form id="formulario">
    <fieldset class="display">
      <legend>Informações Pessoais</legend>
      <mat-form-field appearance="fill">
        <mat-label>Nome</mat-label>
        <input matInput name="nome" [(ngModel)]="funcionario.nome" />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>data nascimento</mat-label>
        <input
          matInput
          [matDatepicker]="picker"
          name="dataNascimento"
          [(ngModel)]="funcionario.dataNascimento"
        />
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Cargo</mat-label>
        <mat-select name="cargo" [(ngModel)]="funcionario.cargo">
          <mat-option value="one">First option</mat-option>
          <mat-option value="two">Second option</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill" floatLabel="always">
        <mat-label>Salario atual</mat-label>
        <input
          matInput
          type="number"
          class="example-right-align"
          placeholder="0"
          name="salario"
          [(ngModel)]="funcionario.SalarioAtual"
        />
        <span matPrefix>$&nbsp;</span>
        <span matSuffix>.00</span>
      </mat-form-field>

      <mat-checkbox>Funcionário do mês</mat-checkbox>
    </fieldset>
    <fieldset>
      <legend>endereço</legend>
      <div>
        <mat-form-field appearance="fill" class="rua">
          <mat-label>Rua</mat-label>
          <input matInput name="rua" [(ngModel)]="funcionario.endereco.rua" />
        </mat-form-field>
        <mat-form-field appearance="fill" class="numero">
          <mat-label>Nº</mat-label>
          <input matInput type="number" name="numero" ngModel />
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="fill" class="width-left">
          <mat-label>Pais</mat-label>
          <input matInput name="pais" [(ngModel)]="funcionario.endereco.pais" />
        </mat-form-field>
        <mat-form-field appearance="fill" class="width-right">
          <mat-label>Estado</mat-label>
          <input
            matInput
            name="estado"
            [(ngModel)]="funcionario.endereco.estado"
          />
        </mat-form-field>
      </div>

      <mat-form-field appearance="fill" class="width-left">
        <mat-label>latitude</mat-label>
        <input
          matInput
          name="latitude"
          [(ngModel)]="funcionario.endereco.latitude"
        />
      </mat-form-field>
      <mat-form-field appearance="fill" class="width-right">
        <mat-label>longitude</mat-label>
        <input
          matInput
          name="longitude"
          [(ngModel)]="funcionario.endereco.longitude"
        />
      </mat-form-field>
    </fieldset>
    <div id="bottons">
      <button (click)="salvar()" mat-raised-button color="primary">Salvar</button>
    </div>
  </form>
</div>