<div class="principal">
  <form id="formulario" [formGroup]="formulario" (submit)="salvar()">
    <fieldset class="display">
      <legend>Informações Pessoais</legend>
      <mat-form-field appearance="fill">
        <mat-label>Nome</mat-label>
        <input matInput formControlName="nome" />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>data nascimento</mat-label>
        <input
          matInput
          [matDatepicker]="picker"
          formControlName="dataNascimento"
        />
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Cargo</mat-label>
        <mat-select formControlName="cargo">
          <mat-option *ngFor="let item of listCargo" [value]="item.id">{{
            item.cargo
          }}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill" floatLabel="always">
        <mat-label>Salario atual</mat-label>
        <input
          matInput
          type="number"
          class="example-right-align"
          placeholder="0"
          formControlName="salarioAtual"
        />
        <span matPrefix>$&nbsp;</span>
        <span matSuffix>.00</span>
      </mat-form-field>

      <mat-checkbox formControlName="funcionarioDoMes"
        >Funcionário do mês</mat-checkbox
      >
    </fieldset>
    <fieldset>
      <legend>endereço</legend>
      <div>
        <mat-form-field appearance="fill" class="rua">
          <mat-label>Rua</mat-label>
          <input matInput formControlName="rua" />
        </mat-form-field>
        <mat-form-field appearance="fill" class="numero">
          <mat-label>Nº</mat-label>
          <input matInput type="number" formControlName="numero" />
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="fill" class="width-left">
          <mat-label>Pais</mat-label>
          <input matInput formControlName="pais" />
        </mat-form-field>

        <mat-form-field appearance="fill" class="width-right">
          <mat-label>Estado</mat-label>
          <mat-select formControlName="estado">
            <mat-option *ngFor="let item of listEstados" [value]="item.id">{{
              item.nome
            }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <mat-form-field appearance="fill" class="width-left">
        <mat-label>latitude</mat-label>
        <input type="number" matInput formControlName="latitude" />
      </mat-form-field>
      <mat-form-field appearance="fill" class="width-right">
        <mat-label>longitude</mat-label>
        <input matInput formControlName="longitude" />
      </mat-form-field>
    </fieldset>
    <div id="bottons">
      <button type="submit" mat-raised-button color="primary">Salvar</button>
    </div>
  </form>
</div>
